header, main {
  border: 1px solid red;
}
body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  padding: 15px 60px 15px 60px;
  background-color: black;
  color: white;
}

.head-list {
  justify-content: space-between;
  display: flex;
}

.footer {
  height: 60px;
  text-align: center;
  background-color: #f1f2f3;
  font-size: 15px;
  color: gray;
}

.footer-link {
  color: #8208a0;
  text-decoration: underline;
}

.main-body {
  display: flex;
  margin-top: 20px;
}

.aside-left {
  width: 180px;
  margin-left: 50px;
}

.aside-about {
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(241, 240, 240);
}

.aside-archives {
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.aside-list {
  color: #8208a0;
  text-decoration: underline;
}

.aside-left-title {
  font-style: italic;
}
