
body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  padding: 15px 60px 15px 60px;
  background-color: black;
  color: white;
}

.head-list {
  justify-content: space-between;
  display: flex;
}

.footer {
  height: 60px;
  text-align: center;
  background-color: #f1f2f3;
  font-size: 15px;
  color: gray;
}

.footer-link {
  color: #8208a0;
  text-decoration: underline;
}

.main-body {
  display: flex;
  margin-top: 20px;
}

.aside-left {
  width: 180px;
  margin-left: 50px;
}

.aside-about {
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(241, 240, 240);
}

.aside-archives {
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.aside-list {
  color: #8208a0;
  text-decoration: underline;
}

.aside-left-title {
  font-style: italic;
}

.main-list {
  display: flex;
  padding-left: 10px;
  flex-wrap: wrap;
}

.component-img-first {
  border: 1px solid lightgray;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 475px;
}

.component-img-two {
  border: 1px solid lightgray;
  width: 475px;
}

.img-first {
  margin-left: 120px;
}

.img-two {
  margin-left: 120px;
}

.img-three {
  height: 350px;
  margin-left: 120px;
}

.component-img-three {
  border: 1px solid lightgray;
  width: 475px;
  position: relative;
  bottom: 50px;
  height: 440px;
}

.article-three {
  position: relative;
  bottom: 100px;
}

.main-text {
  margin-left: 10px;
  margin-bottom: 10px;
}

.main-text-nav {
  color: blue;
}

.aside-right {
  position: fixed;
  top: 200px;
  text-align: center;
  width: 300px;
  background-color: rgb(238, 231, 231);
  height: 180px;
  left: 1200px;
  top: 300px
}

.input {
  margin-top: 10px;
  border: 1px solid lightgray;
  color: darkgray;
}

.sign-in-button {
  background-color: rgb(55, 117, 233);
  color: white;
  border: 1px solid lightgray;
  height: 30px;
  width: 160px;
  border-radius: 10px;
}

.input-email {
  margin-left: 20px;
  margin-right: 20px;
  height: 30px;
  width: 160px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.input-name {
  height: 30px;
  width: 160px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
